@charset "UTF-8";
:root {
    --global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
    --global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
    --global--font-size-base: 1.25rem;
    --global--font-size-xs: 1rem;
    --global--font-size-sm: 1.125rem;
    --global--font-size-md: 1.25rem;
    --global--font-size-lg: 1.5rem;
    --global--font-size-xl: 2.25rem;
    --global--font-size-xxl: 4rem;
    --global--font-size-xxxl: 5rem;
    --global--font-size-page-title: var(--global--font-size-xxl);
    --global--letter-spacing: normal;
    --global--line-height-body: 1.7;
    --global--line-height-heading: 1.3;
    --global--line-height-page-title: 1.1;
    --heading--font-family: var(--global--font-primary);
    --heading--font-size-h6: var(--global--font-size-xs);
    --heading--font-size-h5: var(--global--font-size-sm);
    --heading--font-size-h4: var(--global--font-size-lg);
    --heading--font-size-h3: calc(1.25 * var(--global--font-size-lg));
    --heading--font-size-h2: var(--global--font-size-xl);
    --heading--font-size-h1: var(--global--font-size-page-title);
    --heading--letter-spacing-h6: 0.05em;
    --heading--letter-spacing-h5: 0.05em;
    --heading--letter-spacing-h4: var(--global--letter-spacing);
    --heading--letter-spacing-h3: var(--global--letter-spacing);
    --heading--letter-spacing-h2: var(--global--letter-spacing);
    --heading--letter-spacing-h1: var(--global--letter-spacing);
    --heading--line-height-h6: var(--global--line-height-heading);
    --heading--line-height-h5: var(--global--line-height-heading);
    --heading--line-height-h4: var(--global--line-height-heading);
    --heading--line-height-h3: var(--global--line-height-heading);
    --heading--line-height-h2: var(--global--line-height-heading);
    --heading--line-height-h1: var(--global--line-height-page-title);
    --heading--font-weight: normal;
    --heading--font-weight-page-title: 300;
    --heading--font-weight-strong: 600;
    --latest-posts--title-font-family: var(--heading--font-family);
    --latest-posts--title-font-size: var(--heading--font-size-h3);
    --latest-posts--description-font-family: var(--global--font-secondary);
    --latest-posts--description-font-size: var(--global--font-size-sm);
    --list--font-family: var(--global--font-secondary);
    --definition-term--font-family: var(--global--font-primary);
    --global--color-black: #000;
    --global--color-dark-gray: #28303d;
    --global--color-gray: #39414d;
    --global--color-light-gray: #f0f0f0;
    --global--color-green: #d1e4dd;
    --global--color-blue: #d1dfe4;
    --global--color-purple: #d1d1e4;
    --global--color-red: #e4d1d1;
    --global--color-orange: #e4dad1;
    --global--color-yellow: #eeeadd;
    --global--color-white: #fff;
    --global--color-white-50: rgba(255, 255, 255, 0.5);
    --global--color-white-90: rgba(255, 255, 255, 0.9);
    --global--color-primary: var(--global--color-dark-gray);
    --global--color-secondary: var(--global--color-gray);
    --global--color-primary-hover: var(--global--color-primary);
    --global--color-background: var(--global--color-green);
    --global--color-border: var(--global--color-primary);
    --global--spacing-unit: 20px;
    --global--spacing-measure: unset;
    --global--spacing-horizontal: 25px;
    --global--spacing-vertical: 30px;
    --global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    --form--font-family: var(--global--font-secondary);
    --form--font-size: var(--global--font-size-sm);
    --form--line-height: var(--global--line-height-body);
    --form--color-text: var(--global--color-dark-gray);
    --form--color-ranged: var(--global--color-secondary);
    --form--label-weight: 500;
    --form--border-color: var(--global--color-secondary);
    --form--border-width: 3px;
    --form--border-radius: 0;
    --form--spacing-unit: calc(0.5 * var(--global--spacing-unit));
    --cover--height: calc(15 * var(--global--spacing-vertical));
    --cover--color-foreground: var(--global--color-white);
    --cover--color-background: var(--global--color-black);
    --button--color-text: var(--global--color-background);
    --button--color-text-hover: var(--global--color-secondary);
    --button--color-text-active: var(--global--color-secondary);
    --button--color-background: var(--global--color-secondary);
    --button--color-background-active: var(--global--color-background);
    --button--font-family: var(--global--font-primary);
    --button--font-size: var(--global--font-size-base);
    --button--font-weight: 500;
    --button--line-height: 1.5;
    --button--border-width: 3px;
    --button--border-radius: 0;
    --button--padding-vertical: 15px;
    --button--padding-horizontal: calc(2 * var(--button--padding-vertical));
    --entry-header--color: var(--global--color-primary);
    --entry-header--color-link: currentColor;
    --entry-header--color-hover: var(--global--color-primary-hover);
    --entry-header--color-focus: var(--global--color-secondary);
    --entry-header--font-size: var(--heading--font-size-h2);
    --entry-content--font-family: var(--global--font-secondary);
    --entry-author-bio--font-family: var(--heading--font-family);
    --entry-author-bio--font-size: var(--heading--font-size-h4);
    --branding--color-text: var(--global--color-primary);
    --branding--color-link: var(--global--color-primary);
    --branding--color-link-hover: var(--global--color-secondary);
    --branding--title--font-family: var(--global--font-primary);
    --branding--title--font-size: var(--global--font-size-lg);
    --branding--title--font-size-mobile: var(--heading--font-size-h4);
    --branding--title--font-weight: normal;
    --branding--title--text-transform: uppercase;
    --branding--description--font-family: var(--global--font-secondary);
    --branding--description--font-size: var(--global--font-size-sm);
    --branding--description--font-family: var(--global--font-secondary);
    --branding--logo--max-width: 300px;
    --branding--logo--max-height: 100px;
    --branding--logo--max-width-mobile: 96px;
    --branding--logo--max-height-mobile: 96px;
    --primary-nav--font-family: var(--global--font-secondary);
    --primary-nav--font-family-mobile: var(--global--font-primary);
    --primary-nav--font-size: var(--global--font-size-md);
    --primary-nav--font-size-sub-menu: var(--global--font-size-xs);
    --primary-nav--font-size-mobile: var(--global--font-size-sm);
    --primary-nav--font-size-sub-menu-mobile: var(--global--font-size-sm);
    --primary-nav--font-size-button: var(--global--font-size-xs);
    --primary-nav--font-style: normal;
    --primary-nav--font-style-sub-menu-mobile: normal;
    --primary-nav--font-weight: normal;
    --primary-nav--font-weight-button: 500;
    --primary-nav--color-link: var(--global--color-primary);
    --primary-nav--color-link-hover: var(--global--color-primary-hover);
    --primary-nav--color-text: var(--global--color-primary);
    --primary-nav--padding: calc(0.66 * var(--global--spacing-unit));
    --primary-nav--border-color: var(--global--color-primary);
    --pagination--color-text: var(--global--color-primary);
    --pagination--color-link-hover: var(--global--color-primary-hover);
    --pagination--font-family: var(--global--font-secondary);
    --pagination--font-size: var(--global--font-size-lg);
    --pagination--font-weight: normal;
    --pagination--font-weight-strong: 600;
    --footer--color-text: var(--global--color-primary);
    --footer--color-link: var(--global--color-primary);
    --footer--color-link-hover: var(--global--color-primary-hover);
    --footer--font-family: var(--global--font-primary);
    --footer--font-size: var(--global--font-size-sm);
    --pullquote--font-family: var(--global--font-primary);
    --pullquote--font-size: var(--heading--font-size-h3);
    --pullquote--font-style: normal;
    --pullquote--letter-spacing: var(--heading--letter-spacing-h4);
    --pullquote--line-height: var(--global--line-height-heading);
    --pullquote--border-width: 3px;
    --pullquote--border-color: var(--global--color-primary);
    --pullquote--color-foreground: var(--global--color-primary);
    --pullquote--color-background: var(--global--color-background);
    --quote--font-family: var(--global--font-secondary);
    --quote--font-size: var(--global--font-size-md);
    --quote--font-size-large: var(--global--font-size-xl);
    --quote--font-style: normal;
    --quote--font-weight: 700;
    --quote--font-weight-strong: bolder;
    --quote--font-style-large: normal;
    --quote--font-style-cite: normal;
    --quote--line-height: var(--global--line-height-body);
    --quote--line-height-large: 1.35;
    --separator--border-color: var(--global--color-border);
    --separator--height: 1px;
    --table--stripes-border-color: var(--global--color-light-gray);
    --table--stripes-background-color: var(--global--color-light-gray);
    --table--has-background-text-color: var(--global--color-dark-gray);
    --widget--line-height-list: 1.9;
    --widget--line-height-title: 1.4;
    --widget--font-weight-title: 700;
    --widget--spacing-menu: calc(0.66 * var(--global--spacing-unit));
    --global--admin-bar--height: 0px
}
@media only screen and (min-width: 652px) {
    :root {
        --global--font-size-xl: 2.5rem;
        --global--font-size-xxl: 6rem;
        --global--font-size-xxxl: 9rem;
        --heading--font-size-h3: 2rem;
        --heading--font-size-h2: 3rem
    }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
a {
    background-color: transparent;
    text-decoration-thickness: 1px
}
b {
    font-weight: bolder
}
small {
    font-size: 80%
}
img {
    border-style: none
}
button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
button {
    overflow: visible
}
button {
    text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}
[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
template {
    display: none
}
[hidden] {
    display: none
}
:root {
    --responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
    --responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
    --responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
    --responsive--alignfull-width: 100%;
    --responsive--alignright-margin: var(--global--spacing-horizontal);
    --responsive--alignleft-margin: var(--global--spacing-horizontal)
}
@media only screen and (min-width: 482px) {
    :root {
        --responsive--aligndefault-width: min(calc(100vw - 4 * var(--global--spacing-horizontal)), 610px);
        --responsive--alignwide-width: calc(100vw - 4 * var(--global--spacing-horizontal));
        --responsive--alignright-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
        --responsive--alignleft-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)))
    }
}
@media only screen and (min-width: 822px) {
    :root {
        --responsive--aligndefault-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 610px);
        --responsive--alignwide-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 1240px)
    }
}
.default-max-width,
[class*=inner-container]>:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
    max-width: var(--responsive--aligndefault-width);
    margin-left: auto;
    margin-right: auto
}
.full-max-width {
    max-width: var(--responsive--alignfull-width);
    width: var(--responsive--alignfull-width);
    margin-left: auto;
    margin-right: auto
}
@media only screen and (min-width: 482px) {
    .full-max-width {
        max-width: var(--responsive--alignfull-width);
        width: auto;
        margin-left: auto;
        margin-right: auto
    }
}
.wp-block-post-template:where(li>*),
[class*=inner-container]>* {
    margin-top: calc(.666 * var(--global--spacing-vertical));
    margin-bottom: calc(.666 * var(--global--spacing-vertical))
}
@media only screen and (min-width: 482px) {
    .wp-block-post-template:where(li>*),
    [class*=inner-container]>* {
        margin-top: var(--global--spacing-vertical);
        margin-bottom: var(--global--spacing-vertical)
    }
}
.wp-block-post-template:where(li>*):first-child,
[class*=inner-container]>:first-child {
    margin-top: 0
}
.wp-block-post-template:where(li>*):last-child,
[class*=inner-container]>:last-child {
    margin-bottom: 0
}
.page-content>*,
.widget>* {
    margin-top: var(--global--spacing-unit);
    margin-bottom: var(--global--spacing-unit)
}
.page-content>:first-child,
.widget>:first-child {
    margin-top: 0
}
.page-content>:last-child,
.widget>:last-child {
    margin-bottom: 0
}
body,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ul {
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
html {
    box-sizing: border-box;
    font-family: var(--global--font-secondary);
    line-height: var(--global--line-height-body)
}
*,
::after,
::before {
    box-sizing: inherit
}
body {
    font-size: var(--global--font-size-base);
    font-weight: 400;
    color: var(--global--color-primary);
    text-align: left;
    background-color: var(--global--color-background)
}
button {
    cursor: pointer
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
    input[type=radio] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        width: 25px;
        height: 25px;
        border: var(--form--border-width) solid var(--form--border-color);
        background: var(--global--color-white)
    }
    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        opacity: .7
    }
    .is-dark-theme input[type=checkbox],
    .is-dark-theme input[type=radio] {
        background: var(--global--color-white-90)
    }
    input[type=checkbox]:focus {
        outline-offset: 2px;
        outline: 2px dotted var(--form--border-color)
    }
    input[type=checkbox]:after {
        content: "";
        opacity: 0;
        display: block;
        left: 5px;
        top: 2px;
        position: absolute;
        width: 7px;
        height: 13px;
        border: 3px solid var(--form--color-text);
        border-top: 0;
        border-left: 0;
        transform: rotate(30deg)
    }
    input[type=checkbox]:checked {
        color: var(--form--color-text)
    }
    input[type=checkbox]:checked:after {
        opacity: 1
    }
    input[type=radio] {
        border-radius: 50%
    }
    input[type=radio]:focus {
        outline-offset: 2px;
        outline: 2px dotted var(--form--border-color)
    }
    input[type=radio]:after {
        content: "";
        opacity: 0;
        display: block;
        left: 3px;
        top: 3px;
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: var(--form--color-text)
    }
    input[type=radio]:checked {
        border: 4px solid var(--form--border-color)
    }
    input[type=radio]:checked:after {
        opacity: 1
    }
    input[type=radio]:checked:focus {
        outline-offset: 4px;
        outline: 2px dotted var(--form--border-color)
    }
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        height: 6px;
        background: var(--form--color-ranged);
        border-radius: 6px;
        outline-offset: 10px
    }
    input[type=range]:disabled {
        opacity: .7
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 3px solid var(--form--color-ranged);
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background: var(--global--color-background);
        cursor: pointer
    }
    input[type=range]::-moz-range-thumb {
        border: 3px solid var(--form--color-ranged);
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background: var(--global--color-background);
        cursor: pointer;
        box-sizing: border-box
    }
}
::-moz-placeholder {
    opacity: 1
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle
}
embed {
    max-width: 100%
}
b {
    font-weight: 700
}
em {
    font-style: italic
}
a {
    cursor: pointer;
    color: var(--wp--style--color--link, var(--global--color-primary));
    text-underline-offset: 3px;
    text-decoration-skip-ink: all
}
a:hover {
    text-decoration-style: dotted;
    text-decoration-skip-ink: none
}
.wp-block-button .wp-block-button__link,
button {
    border: var(--button--border-width) solid transparent;
    border-radius: var(--button--border-radius);
    cursor: pointer;
    font-weight: var(--button--font-weight);
    font-family: var(--button--font-family);
    font-size: var(--button--font-size);
    line-height: var(--button--line-height);
    padding: var(--button--padding-vertical) var(--button--padding-horizontal);
    text-decoration: none
}
.wp-block-button .wp-block-button__link:not(:hover):not(:active):not(.has-text-color),
button:not(:hover):not(:active):not(.has-text-color) {
    color: var(--global--color-background)
}
.wp-block-button .wp-block-button__link:not(:hover):not(:active):not(.has-background),
button:not(:hover):not(:active):not(.has-background) {
    background-color: var(--global--color-primary)
}
.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:hover,
button:active,
button:hover {
    background-color: transparent;
    border-color: currentColor;
    color: inherit
}
.wp-block-button .wp-block-button__link:focus,
button:focus {
    outline-offset: -6px;
    outline: 2px dotted currentColor
}
.wp-block-button .wp-block-button__link:disabled,
button:disabled {
    background-color: var(--global--color-white-50);
    border-color: var(--global--color-white-50);
    color: var(--button--color-text-active)
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(:hover):not(:active):not(.has-text-color) {
    color: var(--global--color-background)
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(:hover):not(:active):not(.has-background) {
    background-color: var(--global--color-primary)
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
    border-color: currentColor!important;
    background-color: transparent!important;
    color: inherit!important
}
.wp-block-button a.wp-block-button__link[style*=radius]:focus {
    outline-offset: 2px;
    outline: 2px dotted var(--button--color-background)
}
.wp-block-cover,
.wp-block-cover-image {
    background-color: var(--cover--color-background);
    min-height: var(--cover--height);
    margin-top: inherit;
    margin-bottom: inherit
}
.wp-block-cover-image:not(.alignwide):not(.alignfull),
.wp-block-cover:not(.alignwide):not(.alignfull) {
    clear: both
}
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text {
    color: currentColor;
    margin-top: var(--global--spacing-vertical);
    margin-bottom: var(--global--spacing-vertical)
}
.wp-block-cover .wp-block-cover-image-text a:not(.wp-block-button__link):not(.wp-block-file__button),
.wp-block-cover .wp-block-cover-text a:not(.wp-block-button__link):not(.wp-block-file__button),
.wp-block-cover-image .wp-block-cover-image-text a:not(.wp-block-button__link):not(.wp-block-file__button),
.wp-block-cover-image .wp-block-cover-text a:not(.wp-block-button__link):not(.wp-block-file__button) {
    color: currentColor
}
.wp-block-cover-image:not([class*=background-color]) .wp-block-cover-image-text,
.wp-block-cover-image:not([class*=background-color]) .wp-block-cover-text,
.wp-block-cover:not([class*=background-color]) .wp-block-cover-image-text,
.wp-block-cover:not([class*=background-color]) .wp-block-cover-text {
    color: var(--cover--color-foreground)
}
.wp-block-cover h2,
.wp-block-cover-image h2 {
    font-size: var(--heading--font-size-h2);
    letter-spacing: var(--heading--letter-spacing-h2);
    line-height: var(--heading--line-height-h2);
    max-width: inherit;
    text-align: inherit;
    padding: 0
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: var(--heading--font-family);
    font-weight: var(--heading--font-weight)
}
.h1,
h1 {
    font-size: var(--heading--font-size-h1);
    letter-spacing: var(--heading--letter-spacing-h1);
    line-height: var(--heading--line-height-h1)
}
.h2,
h2 {
    font-size: var(--heading--font-size-h2);
    letter-spacing: var(--heading--letter-spacing-h2);
    line-height: var(--heading--line-height-h2)
}
.h3,
h3 {
    font-size: var(--heading--font-size-h3);
    letter-spacing: var(--heading--letter-spacing-h3);
    line-height: var(--heading--line-height-h3)
}
.h4,
h4 {
    font-size: var(--heading--font-size-h4);
    font-weight: var(--heading--font-weight-strong);
    letter-spacing: var(--heading--letter-spacing-h4);
    line-height: var(--heading--line-height-h4)
}
.h5,
h5 {
    font-size: var(--heading--font-size-h5);
    font-weight: var(--heading--font-weight-strong);
    letter-spacing: var(--heading--letter-spacing-h5);
    line-height: var(--heading--line-height-h5)
}
.h6,
h6 {
    font-size: var(--heading--font-size-h6);
    font-weight: var(--heading--font-weight-strong);
    letter-spacing: var(--heading--letter-spacing-h6);
    line-height: var(--heading--line-height-h6)
}
.wp-block-image {
    text-align: center
}
.wp-block-image a:focus img {
    outline-offset: 2px
}
ul {
    font-family: var(--list--font-family);
    margin: 0;
    padding-left: calc(2 * var(--global--spacing-horizontal))
}
ul {
    list-style-type: disc
}
ul ul {
    list-style-type: circle
}
dd {
    margin: 0;
    padding-left: calc(2 * var(--global--spacing-horizontal))
}
.wp-block-media-text a:focus img {
    outline-offset: -1px
}
.wp-block-media-text .wp-block-media-text__content {
    padding: var(--global--spacing-horizontal)
}
@media only screen and (min-width: 592px) {
    .wp-block-media-text .wp-block-media-text__content {
        padding: var(--global--spacing-vertical)
    }
}
.wp-block-media-text .wp-block-media-text__content>* {
    margin-top: calc(.666 * var(--global--spacing-vertical));
    margin-bottom: calc(.666 * var(--global--spacing-vertical))
}
@media only screen and (min-width: 482px) {
    .wp-block-media-text .wp-block-media-text__content>* {
        margin-top: var(--global--spacing-vertical);
        margin-bottom: var(--global--spacing-vertical)
    }
}
.wp-block-media-text .wp-block-media-text__content>:first-child {
    margin-top: 0
}
.wp-block-media-text .wp-block-media-text__content>:last-child {
    margin-bottom: 0
}
:root .is-small-text {
    font-size: var(--global--font-size-sm)
}
:root .is-large-text {
    font-size: var(--global--font-size-lg);
    line-height: var(--global--line-height-heading)
}
.page-title {
    font-size: var(--global--font-size-page-title)
}
h1.page-title,
h2.page-title {
    font-weight: var(--heading--font-weight-page-title)
}
h1.page-title {
    line-height: var(--heading--line-height-h1)
}
@keyframes twentytwentyone-close-button-transition {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
    font-weight: var(--widget--font-weight-title);
    line-height: var(--widget--line-height-title)
}
.widget h1 {
    font-size: var(--global--font-size-md)
}
.widget h2 {
    font-size: var(--global--font-size-sm)
}
.widget h3 {
    font-size: var(--global--font-size-xs)
}
.widget h4 {
    font-size: var(--global--font-size-xs)
}
.widget h5 {
    font-size: var(--global--font-size-xs)
}
.widget h6 {
    font-size: var(--global--font-size-xs)
}
.widget ul {
    list-style-type: none;
    padding: 0
}
.widget ul li {
    line-height: var(--widget--line-height-list)
}
.widget a {
    color: var(--footer--color-link);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: currentColor
}
.widget a:active,
.widget a:link,
.widget a:visited {
    color: var(--footer--color-link)
}
.widget a:hover {
    color: var(--footer--color-link-hover);
    text-decoration-style: dotted
}
#content[tabindex="-1"]:focus {
    outline: 0
}
@media (prefers-reduced-motion) {
    * {
        transition-delay: 0s!important;
        transition-duration: 0s!important
    }
}
body,
div,
html,
section {
    max-width: none
}